@import 'colors';

@font-face {
  font-family: 'gohufont14';
  src: url('/fonts/gohufont-14-webfont.woff2') format('woff2'),
       url('/fonts/gohufont-14-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
}

html{
  // font-family: 'gohufont';
  // font-size: 14pt;
  background-color: $background;
  color: $foreground;
}

p{
  color: $color7
}

body{
  text-align: center;
  font-family: 'gohufont14';
}

h3{
  margin-top: 5%;
}

img{
  width: 250px;
  background-color: $color5;
  display: inline-block;
  border: 0px solid $cursor;
  padding: 30px;
  margin-bottom: 2%;
  margin-top: 0;
}

// .greeting-block{
//   background-color: $color5;
//   color: $color1;
//   display: inline-block;
//   border: 0px solid $cursor;
//   padding: 30px;
//   margin-bottom: 2%;
//   text-align: center;aaaa
// }

.form{
  background-color: $color0;
  color: $color6;;
  border: none;
  border-bottom: 2px solid $color5;
  width: 302px;
  margin-bottom: 2%;
}

.form:focus{
  background-color: $color0;
  color: $color6;;
  border: none;
  border-bottom: 5px solid $color5;
  width: 302px;
  margin-bottom: 2%;
}

a{
  color: $color3;
  text-decoration: none;
  font-family: 'gohufont14';
  font-size: 14px;
}

.container-res{
  background-color: $color5;
  display: inline-block;
  border: 0px solid $cursor;
  padding: 30px;
  text-align: left;
}

.container-soc{
  background-color: $color5;
  display: inline-block;
  border: 0px solid $cursor;
  padding: 30px;
  text-align: left;
}

.container-other{
  background-color: $color5;
  display: inline-block;
  border: 0px solid $cursor;
  padding: 30px;
  text-align: left;
}

.weatherdate{
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: $color5;
  padding: 30px;
  max-width: 300px;
  display: inline-block;
}

.container-list{
  margin-top: 2%;;
  button{
    background-color: $color5;
    color: $color3;
    border: none;
  }
}

#todo-list{
  list-style: none;
}