@import 'colors';

@font-face{
  font-family: 'gohufont';
  src: url('fonts/gohufont-14.ttf');
}

html{
  // font-family: 'gohufont';
  // font-size: 14pt;
  background-color: $background;
  color: $foreground;
}

button{
  background-color: none;
  color: none;
}

a{
  text-decoration: none;
  color: $foreground;
}

ul{
  list-style-type: none;
}